{erl_opts, [debug_info]}.
{deps, [{cowboy, "1.0.3"}]}.

{relx, [{release, {'jukebox_server',
    "2.2.0" %% relflow-release-version-marker
                  },
         ['jukebox_server',
          sasl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [
           {relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
          ]}.
